<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/mdl/material.min.css" rel="stylesheet" media="screen">
    <link href="/static/css.css" rel="stylesheet" media="screen">
    <title>Title</title>
</head>
<body>
<ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Bryan Cranston
    </span>
    </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Aaron Paul
    </span>
    </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Bob Odenkirk
    </span>
    </li>
</ul>
</body>
</html>